h1 {
    margin-top: 0;
    padding: 10px;
}

input {
    width: 30% !important;
}

button {
    width: 20%;
}

body {
    background-image: url("pexels-pixabay-220067.jpg");
    background-size: cover;
    background-position: center;
    color:white;
}

canvas {
    background-color: darkorange;
    margin-top: 140px;
    border-radius: 25px;
}